*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container-1 {
  width: 80%;
  margin: auto;
}
.container-2 {
  width: 90%;
  margin: auto;
}

:root {
  --main-color: #376b93;
  --secondary-color: #0ba6df;
  --main-font: palestine-regular;
  --secondary-font: "AlHurra Font regular", sans-serif;
}
@font-face {
  font-family: palestine-regular;
  src: url(../fonts/Palestine-Regular.ttf);
}
@font-face {
  font-family: AlHurra Font regular;
  src: url(../fonts/AlHurra\ Font\ Regular.ttf);
}
.AlHurra{
  font-family:AlHurra Font regular;
}
.palestine{
  font-family: palestine-regular;
}
.main-color{
  color:var(--main-color);
}
.secondary-color{
  color: var(--secondary-color);
}
.background-main{
  background-color: var(--main-color);
}
.background-secondary{
  background-color: var(--secondary-color);
}
.w-40{
width: 20%;
}
.display-7{
  font-size: 1.5rem;
}
.small-f{
  font-size: 0.8rem;
}
/* nav section */
nav .top-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--main-color);
}
nav .logo {
  position: absolute;
  top: 0;
  width: 28%;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: start;
  justify-content: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 9999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
nav .logo img {
  width: 100%;
  color: black;
}
/* header section */
header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35%;
}
header .header-1 {
  text-align: center;
}

header .header-content .header-1 h1 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 2.5rem;
}
header .header-content p {
  font-family: var(--secondary-font);
  font-size: 1rem;
  margin-top: 20px;
  position: relative;
  color: var(--main-color);
}
/* header .header-content p::before {
  content: "";
  width: 18%;
  height: 0.04rem;
  background-color: black;
  position: absolute;
  top: 45%;
  left: 80%;
}
header .header-content p::after {
  content: "";
  width: 18%;
  height: 0.04rem;
  background-color: black;
  position: absolute;
  top: 45%;
  right: 80%;
} */
header .header-content .header-2 {
  margin-top: 20px;
  background-color: var(--main-color);
  color: white;
  font-family: var(--secondary-font);
  padding: 8px 15px;
  border-radius: 10px;
}
header .header-content .header-2 h3 {
  font-size: 1.3rem;
}
header .header-3 {
  margin-top: 20px;
  position: relative;
}
header .header-3 ul {
  display: flex;
  gap: 7vw;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 1.1rem;
  position: relative;
}
/* header .header-3::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 21%;
  left: 60%;
}
header .header-3::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 21%;
  left: 77%;
}

header .header-3 ul::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 40%;
  left: 20%;
}
header .header-3 ul::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 40%;
  right: 60%;
} */
header .header-3 ul li:hover {
  color: var(--main-color);
  font-weight: bold;
}
.header-4 {
  margin-top: 15px;
  font-family: var(--secondary-font);
}
.header-4 button {
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
}
.header-4 button a {
  text-decoration: none;
  color: white;
}
/* Image section */
.image-section {
  margin-top: 40px;
  height: 30vh;
  background-image: url(../Images/5812334716210842565.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.image-section::after{
  content: "";
  height: 1rem;
  width: 100%;
  position: absolute;
  bottom:0;
  right: 0;
  left: 0;
  background-color: var(--secondary-color);
}
/* section 3 */
section .title-sec-3 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-family: var(--main-font);
  color: var(--main-color);
}
section .title-sec-3 .left-sec h3 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 800;
  color: var(--main-color);
}
section p {
  font-family: var(--secondary-font);
  color: var(--main-color);
  text-align: center;
  margin-top: 15px;
}
/* Card Section */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.card {
  width: 90%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px var(--main-color);
}
.card .card-logo {
  width: 25%;
}
.card .card-logo img {
  width: 100%;
  display: block;
  padding: 0;
}

.card .card-content h3 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

/* responsive */
@media (min-width: 768px) {
  nav .top-section {
    height: 4rem;
  }
  nav .logo {
    width: 20%;
    top: 0;
  }
  header .header-content {
    margin-top: 25%;
  }
  header .header-content .header-1 h1 {
    font-size: 3.5rem;
  }
  image-section {
    height: 50vh;
  }
  header .header-content .header-2 h3 {
    font-size: 1.8rem;
  }
  header .header-3 ul {
    gap: 10vw;
    font-size: 1.5rem;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  header {
    height: 60vh;
  }
  nav .top-section {
    height: 6rem;
  }
  nav .logo {
    width: 15%;
    top: 0;
  }
  header .header-1 p {
    margin-top: 2rem;
  }
  header .header-content {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  header .header-3 ul {
    gap: 15vw;
    font-size: 1.8rem;
  }

  .image-section {
    height: 100vh;
  }
  .cards{
    height: 60vh;
  }
  .card {
    width: 22%;
    overflow: hidden;
  }
}
.image-2-section{
  margin-top: 40px;
  height: 30vh;
  background-image: url(../Images/Second-Picture.jpg);
  background-size: cover;
 background-position: 30% 80%;
  object-fit: cover;
  object-position: bottom;
  position: relative;
}
.image-2-section::after{
  content: "";
  height: 1rem;
  width: 100%;
  position: absolute;
  bottom:0;
  right: 0;
  left: 0;
  background-color: var(--secondary-color);
}

.Our-Services .card-1{
  width: 100%;
  height: 10rem;
  border-radius: 25px;
  box-shadow: 0 0 10px var(--main-color);
}
.our-services-end-section .part-3{
  height: 2rem;
}

.opinions .opinion-card{
  width: 80%;
  border: 1px solid #c2c2c2;
  border-radius: 25px;
  box-shadow: 0 0 5px var(--main-color);
  padding: 1rem;
 
}
.carousal-buttons .carousel-control-prev,
.carousal-buttons .carousel-control-next {
  width: auto;
  position: static;
    opacity: 1 !important;
}


.opinion-card p{
  width: 100%;
}


footer a i {
  color:#fff;
  
}i {
    cursor: pointer;
    transition: 0.3s ease;
}
 i:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.image-footer{
  background-color: #ffffff;
  bottom: 0;
  left:0;
  border-bottom-right-radius: 4rem;
  padding-top: 40px;
}